* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* generic project styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: 3a3a3a;
}
/* generic project styles */
/* header */
header {
    margin-top: 5px;
    background-color: aqua;
}
/* main */
main {
    background-color: orange;
    flex: 1 0 auto;
    /* make main element take up surplus space */
}
/* footer */
footer {
    background-color: green;
}