/* google font import */
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* generic project styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: 3a3a3a;
    font-family: 'lato', sans-serif;
}
/* generic project styles */
/* header */
header {
    margin-top: 5px;
    background-color: aqua;
}
h1 {
    font-family: "oswald", sans-serif;
}
/* main */
main {
    background-color: orange;
    flex: 1 0 auto;
    /* make main element take up surplus space */
}
/* footer */
footer {
    background-color: green;
}